﻿@{List<string> ents=new List<string>();
  ents.Add("states");
  ents.Add("cities");
  ents.Add("areas");
  ents.Add("firms");
}
<div class="jumbotron">
    <input type="submit" id="start" value="Start parse" />
    <input type="submit" id="ParseEmpty" class="btn-primary" value="Parse empty data" />
</div>
<div><img id="progress" src="~/Content/Images/loading.gif" /></div>
<div class="row">
    @foreach(var ent in ents){
        <div class="col-md-3 panel panel-default">
            <div id="@ent" class="pre-scrollable">
            
            </div>
        </div>
    }
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/parser.js"></script>
}